.main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    color: darkcyan;
    font-family: Pacifico;
    font-size: 3rem;
}
